@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ===== BOTH SIDE ===== */
body{
    margin : 0px;
}
.whiteText {
    color: #FFFFFF
}

.container {
    background-image: url("../../images/bg-intro-desktop.png");
    background-size: cover;
    background-position: center;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

.buttonText {
    margin: 20px 0px;
}

/* ===== RIGHT SIDE ===== */

.right {
    display: flex;
    flex-direction: column;
    /* margin: 121px 165px 121px 0px; */
    margin: 14vh 13vw 14vh 0vh
}

#whiteSquare {
    width: 540px;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 2vh;
    margin-top: 24px
}

#TryIt {
    width: 540px;
    background-color: #5D54A3;
    border-radius: 0.9vh;
    border-color: none;
    border-width: 0px;
    margin-top: 30px;
}

#dollar {
    color: #A59FD1;
}

#FreeTrial {
    width: 460px;
    background-color: #5fb490;
    border-radius: 0.9vh;
    border-color: none;
    border-width: 0px;
    padding: 0px;
}

input {
    width: 460px;
    height: 56px;
    border-width: 0px;
    padding: 0px;
    border: solid;
    border-radius: 0.9vh;
    border-color: #DCDCDC;
}

input::placeholder {
    padding: 32px;
}

.wrongInput{
    border-color: red;
}

#FirstName{
    margin-top: 5.5vh;
}
#agree{
    color: #B8B7BF;
    font-size: 11px;
    margin : 0px 0px 45px 0px;
}

#terms{
    color: #E59196;

}
/* ===== LEFT SIDE ===== */

.left {
    margin-left: 165px;

}

h1 {
    font-size: 52px;
    margin-bottom: 25px;
    line-height: 55px;
    /* margin: 295px 148px 25px 164px; */
}

#leftP {
    margin-right: 65px;
}

/**/